*.exe
*.lib
*.obj
*.suo
*.u2d
Debug/
Release/
*.user
*.cbc
*.cbb
*.hds
*.ddn
*.ucn
*.bsv
*.out
*.sdf
*.opensdf
*.flow
*.stg
*.str
*.vel
*.qaq
*.lst
*.obs

*.pyc

bin/
.idea/

autotest/temp/
autotest/*.log
autotest/.cache/

.ipynb_checkpoints/

msvs/.vs/