# MODFLOW2000 Layer Property Flow (LPF) Package
         0  -1.000000e+030         0
  1
  0
  1.000000e+000
 0
 0
  CONSTANT  3.048e-3 (FREE)                     -1     HYDRAULIC CONDUCTIVITY Layer   1
  CONSTANT  3.048e-3 (FREE)                     -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   1
  CONSTANT     0.250 (FREE)                     -1     PRIMARY STORAGE Layer   1
  CONSTANT     0.250 (FREE)                     -1     Sy Layer   1
